<div class="password-requirements" *ngIf="visible" [@slideIn]>
  <div class="requirements-header">
    <strong>Password must contain:</strong>
  </div>
  <ul class="requirements-list">
    <li *ngFor="let requirement of requirements" 
        [class.met]="requirement.met"
        [class.unmet]="!requirement.met">
      <mat-icon class="requirement-icon">
        {{ requirement.met ? 'check_circle' : 'cancel' }}
      </mat-icon>
      <span class="requirement-label">{{ requirement.label }}</span>
    </li>
  </ul>
</div>
